# /etc/systemd/system/xserver.service

[Unit]
Description=X server

[Service]
Environment=FRAMEBUFFER=#FRAMEBUFFER#
ExecStart=/usr/bin/X :0 -nolisten tcp -dpms -s 0 -v -novtswitch vt7

[Install]
WantedBy=multi-user.target
